@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: powderblue;
  border-radius: 5rem;
}

body {
  user-select: none;
  background: black;
  padding-bottom: 6.5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: powderblue;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: powderblue;
  padding: .7rem;
  font-size: 1.7rem;
  color: black;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: white;
  color: black;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  background: #1a1a1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navbar a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  padding: 5px 0;
  font-size: 1rem;
  color: #9b9393;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.navbar a span {
  display: block;
  font-size: 1.5rem;
}

.navbar a svg {
  font-size: 2.5rem;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar a::before {
  top: 5px;
}

.navbar a::after {
  top: -2px;
  z-index: -1;
}
.navbar a.active , .navbar a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a.active svg, .navbar a:hover svg {
  transform: translateY(-25px);
  color: black;
  font-size: 2.2rem;
}

.navbar a.active::after, .navbar a:hover::after {
  background-color: powderblue;
  transform: translateY(-22px);
  font-size: 2.2rem;
}

.navbar a.active, .navbar a:hover {
  color: #b0e0e6;
}

.navbar a.active span, .navbar a:hover span {
  display: none;
}

@media (max-width: 768px) {
  .navbar a{
    padding: 13px 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a::after  {
    top: -9px;
    z-index: -1;
  }
  .navbar a i {
    font-size: 3rem;
  }
  .navbar a.active svg, .navbar a:hover svg {
    transform: translateY(-26px);
        font-size: 3rem;
  }
  
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6.5rem);
  position: relative;
  overflow: hidden;
}

.home .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home .image .spline {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home .content {
  position: absolute;
  top: 10px;
  max-width: 800px;
  padding: 2rem;
  z-index: 2;
  transition: transform 0.1s;
  pointer-events: none;
}

.home .content h3 {
  color: white;
  font-size: 4rem;
  padding-bottom: .5rem;
}

.home .content span {
  font-size: 3rem;
  color: powderblue;
  padding: .5rem 0;
  display: block;
}

.home .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}


.about .row .count-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .count-container .box {
  flex: 1 1 25rem;

  gap: 10px;
  padding: 2rem;
  border-radius: 1rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.about .row .count-container .box h3 {
  font-size: 5rem;
  color: powderblue;
}

.about .row .count-container .box p {
  font-size: 2rem;
  color: #aaa;
}

.about .row .info-container .box-container .box-item,
.about .row .count-container .box-item {
  flex: 1 1 20rem;
  padding: 2rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.about .row .info-container .box-container .box-item:hover {
  background: powderblue;
  color: black;
}

.about .row .count-container .box-item:hover {
  background: powderblue;
  color: black;
}
.about .row .info-container .box-container .box-item:hover h3{
  color: black;
}

.about .row .count-container .box-item:hover h3{
  color: black;
}

.about .row .info-container .box-container .box-item h3,
.about .row .count-container .box-item h3 {
  font-size: 1.7rem;
  color: white;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info-container .box-container .box-item h3 span,
.about .row .count-container .box-item p {
  color: white;
  font-weight: 200;
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  overflow: hidden;
  /* Ensures smooth overflow handling */

}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  background: white;
  transition: transform 0.5s ease;
  /* Transition for smooth movement */
}

.skills .box-container .box:hover {
  background: #1a1a1a;
}

.skills .box-container .box:hover h3 {
  color: white;
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #1a1a1a;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
}

.education .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.education .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
  margin-left: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 3.5rem;
  padding-bottom: 3rem;
  border-left: 0.1rem solid #aaa;
  position: relative;
}

.education .box-container .box svg {
  padding: 0.6rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  background: powderblue;
  color: black;
  text-align: center;
  position: absolute;
  top: -1rem;
  left: -2.5rem;
}

.education .box-container .box span {
  font-size: 1.7rem;
  color: white;
  border-radius: 5rem;
  padding: .5rem 1.5rem;
  background: #1a1a1a;
}

.education .box-container .box h3 {
  font-size: 2rem;
  padding: 1rem 0;
  color: white;
  padding-top: 3rem;
  font-weight: normal;
}

.education .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
}

.portfolio {
  text-align: center;
}

.portfolio .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.portfolio .box-container .box {
  height: 20rem;
  overflow: hidden;
  box-shadow: 1px 2px 4px #ccc;
  position: relative;
  padding: 1rem;
}

.portfolio .box-container .box:hover .content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.portfolio .box-container .box .content h3 {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
}

.portfolio .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}

.portfolio .box-container .box .content a {
  font-size: 2rem;
  color: powderblue;
}

.portfolio .box-container .box .content a:hover {
  color: white;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: .5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.blogs .box-container .box:hover .image img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.blogs .box-container .box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: .5rem;
  padding: 1.5rem;
  display: inline-block;
  background: black;
}

.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: white;
}

.blogs .box-container .box .content .icons a:hover {
  color: powderblue;
}

.blogs .box-container .box .content .icons a i {
  padding-right: .5rem;
  color: powderblue;
}

.blogs .box-container .box .content h3 {
  font-size: 2rem;
  color: white;
  font-weight: normal;
}

.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .info-container {
  width: 40rem;
}

.contact .row .info-container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  padding-bottom: 1rem;
}

.contact .row .info-container p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.contact .row .info-container .box-container {
  padding: 2rem 0;
}

.contact .row .info-container .box-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.contact .row .info-container .box-container .box i {
  font-size: 3rem;
  color: powderblue;
}

.contact .row .info-container .box-container .box h3 {
  font-size: 2rem;
  color: white;
}

.contact .row .info-container .share a {
  font-size: 2rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  background: #1a1a1a;
  color: white;
  text-align: center;
  margin-right: .3rem;
}

.contact .row .info-container .share a:hover {
  background: powderblue;
}

.contact .row form {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  color: white;
  text-transform: none;
  margin: .7rem 0;
  background: #1a1a1a;
}

.contact .row form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 25rem;
}

.contact .row form .btn {
  padding: 1rem 3rem;
  cursor: pointer;
}

.contact .row form .btn:hover {
  background: white;
  color: black;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }

  /* .navbar a i {
    padding: 0;
  }

  .navbar a span {
    display: none;
  }

  .navbar a:hover {
    padding-bottom: 2rem;
  } */

  .home {
    text-align: center;
    gap: 2rem;
  }

  .home .image img {
    height: 40rem;
    width: 25rem;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .about .row .count-container .box {
    align-items: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}